body {
    margin: 0;
    padding: 0;
}



/* Sidebar Styles */
.sidebar {
    position: relative;
    top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.sidebar img#logo1 {
    width: 128px;
    height: 159px;
    display: block;
    margin: 0 auto;
}

.sidebar h1,
.sidebar p {
    text-align: center;
}

.sidebar .btn-success {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .btn-success img {
    width: 30px;
    height: 30px;
}

.sidebar .btn-success p {
    font-size: 10px;
    text-align: center;
}

/* Modal Styles */
.modal-body img {
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
}

.modal-body button {
    width: 100%;
    margin-top: 10px;
}

/* Container Styles */
.container {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .sidebar {
        height: auto;
    }
}

@media (min-width: 768px) {
    .container .row .sidebar {
        height: calc(100vh - 80px); /* Adjust for the height of the navbar */
        overflow-y: auto;
    }
}

.custom-card img {
    height: 200px; /* Sesuaikan tinggi gambar sesuai kebutuhan Anda */
    object-fit: cover; /* Memastikan gambar tetap proporsional */
}

.custom-card .card-body {
    min-height: 100px; /* Tetapkan tinggi minimum untuk teks kartu */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikal align tengah */
    align-items: center; /* Horizonal align tengah */
    text-align: center;
}

.custom-card .d-flex {
    justify-content: space-between;
    width: 100%;
}


